@import 'colors';

$text-secondary: $blue300;
$text-primary: $blue100;

$primary-page_border-color: $blue200;
$primary-context-menu_background: $grey50;
$secondary-context-menu_background: $grey200;
$context-menu_border: $grey370;