@import 'src/styles/variables';

* {
	text-decoration: none;
	color: $text-primary;
}

.navbar-content {
	position: absolute;
	padding: 24px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
	align-items: center;

}

.navbar-content img {
	cursor: pointer;
	margin-left: 24px;
	width: 250px;
	height: 60px;
}

.navbar-content > ul.navbar-content_ul {
	list-style: none;
	cursor: pointer;

	display: flex;
	align-items: center;
	gap: 4rem;

	color: $text-primary;
}

.navbar-content_ul > li.navbar-content_li {
	font-size: 20px;
}

li {
	position: relative;
	cursor: pointer;
}

li:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	top: 28px;
	height: 2px;
	background-color: $primary-page_border-color;
	content: "";
	transition: width 0.4s ease-out;
}

li:hover:after,
li:focus:after {
	width: 100%;
}


.navbar-content > Button.navbar-content_button-outlined {
	border-radius: 12px;
	color: $text-primary;
	height: 45px;
	width: 200px;
	margin-right: 24px;
	border: 2px solid $primary-page_border-color;;

	font-size: 20px;
	text-transform: none;
}

